<?page title="User" contentType="text/html;charset=UTF-8"?>
<zk xmlns:w="client">
	<style>
		.button { background-color:rgb(255,201,14) ;
		background:rgb(255,201,14) ; height: 35px; width: 80px;
		font-size: 12pt; color:white; text-align: center;
		font-family:Calibri Light ; }

		.button:hover { background-color:rgb(255,201,14) ;
		background:rgb(255,201,14) ; opacity:0.4 }
	</style>
	<window title="" border="normal" sclass="content-window"
		apply="org.zkoss.bind.BindComposer"
		viewModel="@id('vm') @init('id.co.indocyber.bmmRmiCms.controller.KendaraanVmd')"
		contentStyle="overflow:auto;">
		<label value="Kendaraan" style="font-size:24px;"/>
		<separator bar="true"/>
		<hbox width="100%">
			<hbox>
				<textbox id="src" onOK="@command('src')"
					value="@bind(vm.searchData)" placeholder="Cari" width="100%" />
				<button label="Search" onClick="@command('src')" />
				<button label="RELOAD" onClick="@command('reload')"
					w:onClick="jq('$listUser').hide().slideDown(1000)" />
			</hbox>
			<hbox pack="end" hflex="1">
				<button label="+ BARU" onClick="@command('add')"
					disabled="@load(vm.btnAdd)" />
			</hbox>
		</hbox>
		<separator height="10px" />
		<listbox id="listUser" 
			emptyMessage="Tidak ada data yang memenuhi kriteria pencarian Anda."  model="@load(vm.listKendaraan)" mold="paging"
			pagingPosition="bottom" pageSize="25" >
			<listhead>			
				<listheader label="No. Polisi" width="20%" sort="auto(vehicleNo)" onSort="@command('sort',col='vehicleNo')"/>
				<listheader label="Jenis Kendaraan" width="30%" sort="auto(vehicleType)" onSort="@command('sort',col='vehicleType')" />
				<listheader label="Kapasitas" width="10%" sort="auto(capacity)" onSort="@command('sort',col='capacity')"/>
				<listheader label="Tahun Pembuatan" width="10%" sort="auto(productionYear)" onSort="@command('sort',col='productionYear')"/>
				<listheader label="Tools" width="20%" sort="auto(isActive)"/>
				<listheader label="Action" width="10%" />
			</listhead>
			<template name="model">
				<listitem>
					<listcell label="@load(each.vehicleNo)" />
					<listcell label="@load(each.vehicleTypeText)" />
					<listcell label="@load(each.capacityText)"/>
					<listcell label="@load(each.productionYear)"/>
					<listcell>
						<button
							visible="@load(each.isActive ? 'true' : 'false') "
							onClick="@command('ubahStatusAktif', dto = each)"
							label="Aktif" sclass="darkblue-btn" style="background: #d6f3c;" />
						<button
							onClick="@command('ubahStatusNonAktif', dto = each)"
							visible="@load(each.isActive ? 'false' : 'true')"
							label="Non Aktif" sclass="orange-btn" style="background: #fab047;" />
					</listcell>
					<listcell>
						<a onClick="@command('edit', dto=each)" visible="@load(!vm.btnEdit)" tooltiptext="Edit user ${each.vehicleNo}.">
							<image src="res/icon_edit.png"
								style="width:15px;" />
						</a>
					</listcell>
				</listitem>
			</template>
		</listbox>
		<separator height="10px" />
		<hbox width="100%">
			<hbox>
				<label value="Page " />
				<label value="@load(vm.pageNo)" />
				<label value=" of " />
				<label value="@load(vm.maxPage)" />
				<label value=" total " />
				<label value="@load(vm.recordCount) " />
				<label value=" Data" />
			</hbox>
			<hbox hflex="1" pack="end">
				<div sclass="pageControl">
					<button zclass="pageNum" label="&lt;&lt;"
						onClick="@command('switchPage',action='first')"
						disabled="@load(vm.pageNo eq 1)" />
					<button zclass="pageNum" label="&lt;"
						onClick="@command('switchPage',action='prev')"
						disabled="@load(vm.pageNo eq 1)" />
					<button zclass="pageNum"
						label="@load(vm.pageNo-2 le 0 ? '' : vm.pageNo-2)"
						onClick="@command('switchPage',action=self.label)"
						disabled="@load(vm.pageNo-2 le 0)" />
					<button zclass="pageNum"
						label="@load(vm.pageNo-1 le 0 ? '' : vm.pageNo-1)"
						onClick="@command('switchPage',action=self.label)"
						disabled="@load(vm.pageNo-1 le 0)" />
					<button zclass="pageNum" label="@load(vm.pageNo)"
						onClick="@command('switchPage',action=self.label)" disabled="true"
						style="background: #2D623D; color:#FFFFFF;" />
					<button zclass="pageNum"
						label="@load(vm.pageNo+1 gt vm.maxPage ? '' :vm.pageNo+1)"
						onClick="@command('switchPage',action=self.label)"
						disabled="@load(vm.pageNo+1 gt vm.maxPage)" />
					<button zclass="pageNum"
						label="@load(vm.pageNo+2 gt vm.maxPage ? '' :vm.pageNo+2)"
						onClick="@command('switchPage',action=self.label)"
						disabled="@load(vm.pageNo+2 gt vm.maxPage)" />
					<button zclass="pageNum" label="&gt;"
						onClick="@command('switchPage',action='next')"
						disabled="@load(vm.pageNo ge vm.maxPage)" />
					<button zclass="pageNum" label="&gt;&gt;"
						onClick="@command('switchPage',action='last')"
						disabled="@load(vm.pageNo ge vm.maxPage)" />
				</div>
			</hbox>
		</hbox>
		<window id="detailKendaraan" mode="modal"
			visible="@load(vm.detailWindow)" width="50%"
			style="margin-top:5%; top:0px;" contentStyle="overflow:auto">
			<hbox width="100%">
				<hbox pack="start">
					<label value="@load(vm.mobVehicleDto.created eq null ? 'Tambah':'Edit')" style="font-size:24px;"/>
					<label value=" Kendaraan" style="font-size:24px;" />
				</hbox>
				<hbox pack="end" hflex="1">
					<a onClick="@command('close')">
						<image src="res/icon_close.png"
							style="width:30px;" />
					</a>
				</hbox>
			</hbox>
			<separator bar="true"/>
			
			<hbox>
			<!-- start grid kiri -->
			<grid style="overflow:auto">
				<columns>
					<column width="20%" />
					<column width="30%" />
				</columns>
				<rows>
					<row>
						<label value="No. Polisi" />
						<textbox maxlength="12"
							value="@load(vm.mobVehicleDto.vehicleNo) @save(vm.mobVehicleDto.vehicleNo, before='save')"
							readonly="@load(vm.editMode)" constraint="no empty : No. Polisi harus diisi!">
							<attribute w:name="doKeyPress_">
								function(evt){ if
								(!this._shallIgnore(evt,"0123456789QWERTYUIOPASDFGHJKLZXCVBNMqwertyuiopasdfghjklzxcvbnm,- ")) 
								this.$doKeyPress_(evt); }
							</attribute>
						</textbox>
					</row>
					<row>
						<label value="Jenis Kendaraan" />
						<combobox model="@load(vm.listJenisKendaraan)"
							value="@load(vm.mobVehicleDto.vehicleTypeText) @save(vm.mobVehicleDto.vehicleTypeText, before='save')" readonly="true"
							selectedItem="@bind(vm.selectedJenisKendaraan)"
							constraint="no empty : Jenis kendaraan belum dipilih!">
							<template name="model">
								<comboitem
									label="@load(each.vehicleTypeName)"/>
							</template>
						</combobox>
					</row>
				</rows>
			</grid>
			<!-- end grid kiri -->
			
			<!-- start grid kanan -->
			<grid style="overflow:auto">
				<columns>
					<column width="20%" />
					<column width="30%" />
				</columns>
				<rows>
					<row>
						<label value="Kapasitas" />
						<decimalbox maxlength="8"
							value="@bind(vm.mobVehicleDto.capacity) @save(vm.mobVehicleDto.capacity, before='save')" constraint="no empty : Kapasitas harus diisi!">
							<attribute w:name="doKeyPress_">
								function(evt){ if(!this._shallIgnore(evt, "0123456789."))
								this.$doKeyPress_(evt); }
							</attribute>
						</decimalbox>
					</row>
					<row>
						<label value="Tahun Pembuatan" />
						<textbox maxlength="4"
							value="@load(vm.mobVehicleDto.productionYear) @save(vm.mobVehicleDto.productionYear,before='save')" constraint="no empty : Tahun pembuatan harus diisi!">
							<attribute w:name="doKeyPress_">
								function(evt){ if(!this._shallIgnore(evt, "0123456789"))
								this.$doKeyPress_(evt); }
							</attribute>
						</textbox>
					</row>
				</rows>
			</grid>
			<!-- end grid kanan -->
			</hbox>
			
			<separator bar="true" />
			<hbox>
				<button label="SIMPAN" onClick="@command('save')" />
			</hbox>
		</window>

		<!-- START msgBOX SUCCESS -->
		<include src="/layout/msgFree.zul" />
		<!-- END msgBOX SUCCSESS --> 
		
		<!-- START msgBOX confirm -->
			<include src="/layout/confirm.zul" />
		<!-- END msgBOX confirm --> 
		
	</window>
</zk>