<zk xmlns:n="native">
	<div apply="org.zkoss.bind.BindComposer" sclass="header" style="background-color:rgb(45,98,61);"
		viewModel="@id('vm') @init('id.co.indocyber.bmmRmiCms.controller.BannerVmd')">

		<div sclass="header-wrapper">
			<!-- <label value="@load(vm.tglini)"/>
				<div>
				<label value="@load(vm.username) "/>
				<label value="- "/>
				<label value="@load(vm.posisi.positionTitle) "/>
				</div>
				<div>
				<a  href="/index.zul">
				<image src="/imgs/home.png" />
				</a>
				<a href="/index.zul">
				<image src="/imgs/logout2.png" onClick="@command('logout')"/>
				</a>
				</div> -->

			<div sclass="header-item toggle-btn event-btn">
				<image src="/res/ico_menu.png"></image>
			</div>

			<div sclass="header-item">
				<div sclass="item">
					<label sclass="h1">Welcome ${vm.username} - ${vm.position}</label>
				</div>
				<div sclass="item">
					<a onClick="@command('logout')">
						<image src="/res/icon png/ic_logout.png"/>
					</a>
					
					<!--
					<div sclass="user-data">
						<label value="Hi, User "/>
						<label sclass="username" value="@load(vm.username)"/>
						<label value="you are logged as"/>
						<a sclass="level" label="@load(vm.position)" onClick="@command('changePass')"/>
					</div>
					<separator/>
					<div>
						<label sclass="date-time"
							value="@load(vm.tglini)" />
						<timer id="timer" delay="1000" repeats="true"
							onTimer="@command('updateTime')" />
					</div>
					-->
				</div>
			</div>
			<!-- 
			<div sclass="profil">
				<image src="/res/profil.png" width="30px"></image>
			</div>
			<div sclass="header-item logout-btn event-btn"
				onClick="@command('logout')">
				<image src="/res/logout.png" style="width:30px"></image>
			</div>
			-->
		</div>

	</div>
</zk>