<?xml version="1.0" encoding="UTF-8"?>
<zk xmlns="http://www.zkoss.org/2005/zul"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.zkoss.org/2005/zul http://www.zkoss.org/2005/zul/zul.xsd">
	<!-- 
	<div sclass="web-logo">
		<a href="javascript:;"><image src="/res/rejoso_manis_indo.png" width="150px"></image></a>
	</div>
	-->
	<div width="100%" height="100%"
		apply="org.zkoss.bind.BindComposer" sclass="sb"
		viewModel="@id('vs') @init('id.co.indocyber.bmmRmiCms.controller.Sidebarvmd')"
		onBookmarkChange="@command('bookmarkNav',bookmark=event.bookmark)">
		<tabbox id="tb" width="100%" height="96%" mold="accordion" style="overflow:auto;">
			<tabs id="tbs" align="center"
				children="@load(vs.listMenuAccordion)">
				<template name="children">
					<tab label="@load(each.title)"/>
				</template>
			</tabs>
			<!-- Menu Tab Panel -->
			<tabpanels children="@load(vs.listMenuTreeModel)">
				<template name="children">
					<tabpanel>					
						<vlayout height="100%">
							<tree model="@load(each)" sizedByContent="true"
								vflex="1">
								<template name="model" var="item">
									<treeitem height="500px">
										<treerow>
											<treecell
												label="@load(item.data.menuTitle)"
												onClick="@command('toogleTree', tree = self.tree)"
												if="${item.data.menuType eq 'G'}">
											</treecell>
											<treecell
												context="m_${item.data.menuCode }" label="@load(item.data.menuTitle)"
												onClick="@command('navi', uri=item.data.menuUrl, title=item.data.menuTitle, menuCode=item.data.menuCode)" > 
											</treecell>										
										</treerow>
									</treeitem>
								</template>
							</tree>
						</vlayout>
					</tabpanel>
				</template>
			</tabpanels>
		</tabbox>
	</div>
</zk>