<?page title="User" contentType="text/html;charset=UTF-8"?>
<zk xmlns:w="client">
	<style>
		.button { background-color:rgb(255,201,14) ;
		background:rgb(255,201,14) ; height: 35px; width: 80px;
		font-size: 12pt; color:white; text-align: center;
		font-family:Calibri Light ; }

		.button:hover { background-color:rgb(255,201,14) ;
		background:rgb(255,201,14) ; opacity:0.4 }
	</style>
	<window title="" border="normal" sclass="content-window"
		apply="org.zkoss.bind.BindComposer"
		viewModel="@id('vm') @init('id.co.indocyber.bmmRmiCms.controller.MappingTransporterSupirVmd')"
		contentStyle="overflow:auto;">
		<label value="Mapping Transporter Supir" style="font-size:24px;"/>
		<separator bar="true"/>
		<hbox width="100%">
			<hbox>
				<textbox id="src" onOK="@command('src')" value="@bind(vm.searchData)"
					placeholder="Cari" width="100%"/>
				<button label="Search" onClick="@command('src')"/>			
				<button label="RELOAD" onClick="@command('reload')"
					w:onClick="jq('$listUser').hide().slideDown(1000)" />
			</hbox>
			<hbox pack="end" hflex="1">
				<button label="+ BARU" onClick="@command('add')"
					disabled="@load(vm.btnAdd)" />
			</hbox>
		</hbox>
		<separator height="10px"/>
		<listbox id="listUser" emptyMessage="Tidak ada data yang memenuhi kriteria pencarian Anda." mold="paging"
			pagingPosition="bottom" pageSize="25" model="@load(vm.listIndex)">
			<listhead>
				<listheader label="Kode Supir" onSort="@command('sort',col='id')" sort="auto(driverId)"/>
				<listheader label="Nama Supir" onSort="@command('sort',col='fullname')" sort="auto(driverName)"/>
				<listheader label="Jenis Kelamin" onSort="@command('sort',col='gender')" sort="auto(driverGender)"/>
				<listheader label="Usia" onSort="@command('sort',col='age')" sort="auto(driverAge)"/>
				<listheader label="Status" onSort="@command('sort',col='is_active')" sort="auto(isActive)"/>
				<listheader label="Transportir" visible="@load(vm.user.roleName eq 'Transportir' ? 'false' : 'true')" onSort="@command('sort',col='transportir_name')" sort="auto(transportirName)"/>
				<listheader label="Action" />
			</listhead>
			<template name="model">
			<listitem>
				<listcell label="@load(each.driverId)"/>
				<listcell label="@load(each.driverName)"/>
				<listcell label="@load(each.driverGender)"/>
				<listcell label="@load(each.driverAge)"/>
				<listcell>
					<button
						visible="@load(each.isActive ? 'true' : 'false') "
						onClick="@command('ubahStatusAktif', dto = each)"
						label="Aktif" sclass="darkblue-btn" style="background: #d6f3c;" />
					<button
						onClick="@command('ubahStatusNonAktif', dto = each)"
						visible="@load(each.isActive ? 'false' : 'true')"
						label="Non Aktif" sclass="orange-btn" style="background: #fab047;" />
				</listcell>
				<listcell visible="@load(vm.user.roleName eq 'Transportir' ? 'false' : 'true')" 
						label="@load(each.transportirName)"/>
				<listcell>
					<a onClick="@command('view', item=each)" visible="@load(!vm.btnEdit)" tooltiptext="Edit user ${each.driverName}">
						<image src="res/icon_view.png"
							style="width:15px;" />
					</a>
					<a onClick="@command('delete', item=each)" visible="@load(!vm.btnEdit)" tooltiptext="Hapus user ${each.driverName}">
						<image src="res/icon png/ic_delete.png"
							style="width:15px;" />
					</a>
				</listcell>				
			</listitem>			
			</template>
		</listbox>
		<separator height="10px"/>
		<hbox width="100%">
			<hbox>
				<label value="Page " />
				<label value="@load(vm.pageNo)" />
				<label value=" of " />
				<label value="@load(vm.maxPage)" />
				<label value=" total " />
				<label value="@load(vm.recordCount) " />
				<label value=" Data" />
			</hbox>
			<hbox pack="end" hflex="1">
				<div sclass="pageControl">
					<button zclass="pageNum" label="&lt;&lt;"
						onClick="@command('switchPage',action='first')"
						disabled="@load(vm.pageNo eq 1)" />
					<button zclass="pageNum" label="&lt;"
						onClick="@command('switchPage',action='prev')"
						disabled="@load(vm.pageNo eq 1)" />
					<button zclass="pageNum"
						label="@load(vm.pageNo-2 le 0 ? '' : vm.pageNo-2)"
						onClick="@command('switchPage',action=self.label)"
						disabled="@load(vm.pageNo-2 le 0)" />
					<button zclass="pageNum"
						label="@load(vm.pageNo-1 le 0 ? '' : vm.pageNo-1)"
						onClick="@command('switchPage',action=self.label)"
						disabled="@load(vm.pageNo-1 le 0)" />
					<button zclass="pageNum" label="@load(vm.pageNo)"
						onClick="@command('switchPage',action=self.label)" disabled="true"
						style="background: #2D623D; color:#FFFFFF;" />
					<button zclass="pageNum"
						label="@load(vm.pageNo+1 gt vm.maxPage ? '' :vm.pageNo+1)"
						onClick="@command('switchPage',action=self.label)"
						disabled="@load(vm.pageNo+1 gt vm.maxPage)" />
					<button zclass="pageNum"
						label="@load(vm.pageNo+2 gt vm.maxPage ? '' :vm.pageNo+2)"
						onClick="@command('switchPage',action=self.label)"
						disabled="@load(vm.pageNo+2 gt vm.maxPage)" />
					<button zclass="pageNum" label="&gt;"
						onClick="@command('switchPage',action='next')"
						disabled="@load(vm.pageNo ge vm.maxPage)" />
					<button zclass="pageNum" label="&gt;&gt;"
						onClick="@command('switchPage',action='last')"
						disabled="@load(vm.pageNo ge vm.maxPage)" />
				</div>
			</hbox>
		</hbox>
		<window mode="modal"
			visible="@load(vm.detailWindow)" width="50%"
			style="margin-top:5%; top:0px;" contentStyle="overflow:auto">
			<hbox width="100%">
				<hbox pack="start">
					<label value="Tambah Mapping Transporter Supir"
						style="font-size:24px" />
				</hbox>
				<hbox pack="end" hflex="1">
					<a onClick="@command('close')">
						<image src="res/icon_close.png"
							style="width:30px;" />
					</a>
				</hbox>
			</hbox>
			<separator bar="true"/>
			<textbox placeholder="cari data.." 
				width="100%" value="@bind(vm.searchData)" onOK="@command('searchDriver')"/>
			
			<separator height="10px"/>
			
			<hbox>
				<label value="Transporter"/>
				<bandbox id="bdTransporter" 
					value="@bind(vm.editDto.transportirName)" onChange="@command('searchTransportir')" instant="true">
					<bandpopup width="20%">
						<listbox model="@load(vm.listTransportir)" onSelect="bdTransporter.close();">
							<listhead>
								<listheader label="Nama Transportir"/>
								<listheader label="Jenis Transportir"/>
							</listhead>
							<template name="model">
							<listitem>
								<listcell label="@load(each.transportirName)" onClick="@command('selectTransportir', item = each)"/>
								<listcell label="@load(each.transportirType)" onClick="@command('selectTransportir', item = each)"/>
							</listitem>
							</template>
						</listbox>
					</bandpopup>
				</bandbox>
			</hbox>
			
			<separator height="10px"/>
						
			<listbox model="@load(vm.listDriver)" 
				mold="paging" pageSize="10" pagingPosition="bottom" 
				emptyMessage="Tidak ada data yang memenuhi kriteria pencarian Anda."
				multiple="true" checkmark="true" selectedItems="@bind(vm.listTempDriver)">
				<listhead>
					<listheader label="" width="50px"/>
					<listheader label="ID" width="10%"/>
					<listheader label="NAMA SUPIR" width="45%"/>
					<listheader label="No. Handphone" width="45%" />					
				</listhead>
				<template name="model">
				<listitem>
					<listcell label=""/>
					<listcell label="@load(each.id)" onClick="@command('selectDriver', item = each)"/>
					<listcell label="@load(each.fullname)" onClick="@command('selectDriver', item = each)"/>
					<listcell label="@load(each.phoneNum)" onClick="@command('selectDriver', item = each)"/>
				</listitem>
				</template>				
			</listbox>
			<separator bar="true"/>
			<hbox width="100%" pack="center">
				<button label="SIMPAN" onClick="@command('save')"
					style="text-align:center" />	
				<button label="KEMBALI" onClick="@command('close')"
					style="text-align:center" />
			</hbox>
		</window>
		
		
		
		
		<window mode="modal"
			visible="@load(vm.detailWindow2)" width="40%"
			style="margin-top:5%; top:0px;" contentStyle="overflow:auto">
			<hbox width="100%">
				<hbox pack="start">
					<label value="View Mapping Transporter Supir"
						style="font-size:24px" />
				</hbox>
				<hbox pack="end" hflex="1">
					<a onClick="@command('close')">
						<image src="res/icon_close.png"
							style="width:30px;" />
					</a>
				</hbox>
			</hbox>
			<separator bar="true"/>
			<grid>
				<columns>
					<column width="10%"/>
					<column width="1%"/>
					<column width="10%"/>
					<column width="10%"/>
					<column width="1%"/>
					<column width="10%"/>
				</columns>
				<rows>
					<row>
						<label value="ID"/>
						<label value=":"/>
						<label value="@load(vm.editDto.driverId)"/>
						<label value="Jenis Kelamin"/>
						<label value=":"/>
						<label value="@load(vm.editDto.driverGender)"/>
					</row>
					<row>
						<label value="Nama Supir"/>
						<label value=":"/>
						<label value="@load(vm.editDto.driverName)"/>
						<label value="Usia"/>
						<label value=":"/>
						<label value="@load(vm.editDto.driverAge)"/>
					</row>
				</rows>
			</grid>
			<separator bar="true"/>
			<hbox width="100%">
				<hbox pack="center" hflex="1">
					<button label="KEMBALI" onClick="@command('close')"
						style="text-align:center" />
				</hbox>
			</hbox>
		</window>
		
		<!-- START msgBOX SUCCESS -->
			<include src="/layout/msgFree.zul" />
		<!-- END msgBOX SUCCSESS --> 
		
		<!-- START msgBOX confirm -->
			<include src="/layout/confirm.zul" />
		<!-- END msgBOX confirm --> 
		
		
	</window>
</zk>