<?page title="User" contentType="text/html;charset=UTF-8"?>
<zk xmlns:w="client">
	<style>
		.button { background-color:rgb(255,201,14) ;
		background:rgb(255,201,14) ; height: 35px; width: 80px;
		font-size: 12pt; color:white; text-align: center;
		font-family:Calibri Light ; }

		.button:hover { background-color:rgb(255,201,14) ;
		background:rgb(255,201,14) ; opacity:0.4 }
	</style>
	<window title="" border="normal" sclass="content-window"
		apply="org.zkoss.bind.BindComposer"
		viewModel="@id('vm') @init('id.co.indocyber.bmmRmiCms.controller.RiwayatSjVmd')"
		contentStyle="overflow:auto;">
		<label value="Riwayat Surat Jalan" style="font-size:24px;"/>
		<separator bar="true" style="margin-bottom:15px"/>
		<hbox>
			<hbox width="100%">
				Tanggal :
				<datebox format="dd-MMM-yyyy" placeholder="dd-MMM-yyyy"
					constraint="no future"
					value="@bind(vm.filterStartDate) @save(vm.filterStartDate, before='src') 
					@validator('id.co.indocyber.bmmRmiCms.tools.DateRangeValidator', compare = 'filterEndtDate', greater = false, equal = true)"/>
				s/d
				<datebox format="dd-MMM-yyyy" placeholder="dd-MMM-yyyy" 
					constraint="no future"
					value="@bind(vm.filterEndtDate) @save(vm.filterEndtDate, before='src')
					@validator('id.co.indocyber.bmmRmiCms.tools.DateRangeValidator', compare = 'filterStartDate', greater = true, equal = true)" />
			</hbox>
			<hbox>
				<textbox id="src" onOK="@command('src')"
					value="@bind(vm.searchData)" placeholder="Cari" width="100%" />
				<button label="Search" onClick="@command('src')" />
				<button label="RELOAD" onClick="@command('reload')"
					w:onClick="jq('$listUser').hide().slideDown(1000)" />
<<<<<<< HEAD
				<button label="Download" onClick="@command('export')"/>
=======
					<button label="Download" onClick="@command('export')"/>
>>>>>>> branch 'master' of https://gitlab.com/ari.haryanto/rmi-spt-sj.git
			</hbox>
		</hbox>
 
		<separator height="10px"/>
		<listbox id="listUser" 
			emptyMessage="Tidak ada data yang memenuhi kriteria pencarian Anda."  model="@load(vm.listIndex)" mold="paging"
			pagingPosition="bottom" pageSize="25" >
			<listhead>			
				<listheader label="No. SPT" sort="auto(sptNo)" />
				<listheader label="No. SJ" sort="auto(sptNo)"/>
				<listheader label="Supir" sort="auto(driverName)"/>
				<listheader label="No Handphone" sort="auto(phone)"/>
				<listheader label="Tanggal SJ" sort="auto(sjDate)"/>
				<listheader label="Nama Customer" sort="auto(sptExpiredDate)"/>
				<listheader label="Nama Transporter" sort="auto(statusText)"/>
				<listheader label="Status" sort="auto(statusText)"/>
				<listheader label="Action"/>
			</listhead>
			<template name="model">
				<listitem>
					<listcell label="@load(each.sptNo)"/>					
					<listcell label="@load(each.sjNo)"/>
					<listcell label="@load(each.driverName)"/>
					<listcell label="@load(each.phone)"/>
					<listcell label="@load(each.sjDate) @converter('formatedDate',format='dd-MMM-yyyy')"/>
					<listcell label="@load(each.custName)"/>
					<listcell label="@load(each.transportirName)"/>
					<listcell label="@load(each.statusText)"/>
					<listcell>
						<image src="res/icon_view.png"
							style="width:15px;" 
							onClick="@command('view', item=each)" />							
						<image src="res/ic_pengiriman.png"
							style="width:15px;" 
							onClick="@command('konfirmasiBarang', item=each)" visible="@load(!vm.btnEdit)" />							
					</listcell>
				</listitem>
			</template>
		</listbox>
		<separator height="10px"/>
		<hbox width="100%">
			<hbox>
				<label value="Page " />
				<label value="@load(vm.pageNo)" />
				<label value=" of " />
				<label value="@load(vm.maxPage)" />
				<label value=" total " />
				<label value="@load(vm.recordCount) " />
				<label value=" Data" />
			</hbox>
			<hbox pack="end" hflex="1">
				<div sclass="pageControl">
					<button zclass="pageNum" label="&lt;&lt;"
						onClick="@command('switchPage',action='first')"
						disabled="@load(vm.pageNo eq 1)" />
					<button zclass="pageNum" label="&lt;"
						onClick="@command('switchPage',action='prev')"
						disabled="@load(vm.pageNo eq 1)" />
					<button zclass="pageNum"
						label="@load(vm.pageNo-2 le 0 ? '' : vm.pageNo-2)"
						onClick="@command('switchPage',action=self.label)"
						disabled="@load(vm.pageNo-2 le 0)" />
					<button zclass="pageNum"
						label="@load(vm.pageNo-1 le 0 ? '' : vm.pageNo-1)"
						onClick="@command('switchPage',action=self.label)"
						disabled="@load(vm.pageNo-1 le 0)" />
					<button zclass="pageNum" label="@load(vm.pageNo)"
						onClick="@command('switchPage',action=self.label)" disabled="true"
						style="background: #2D623D; color:#FFFFFF;" />
					<button zclass="pageNum"
						label="@load(vm.pageNo+1 gt vm.maxPage ? '' :vm.pageNo+1)"
						onClick="@command('switchPage',action=self.label)"
						disabled="@load(vm.pageNo+1 gt vm.maxPage)" />
					<button zclass="pageNum"
						label="@load(vm.pageNo+2 gt vm.maxPage ? '' :vm.pageNo+2)"
						onClick="@command('switchPage',action=self.label)"
						disabled="@load(vm.pageNo+2 gt vm.maxPage)" />
					<button zclass="pageNum" label="&gt;"
						onClick="@command('switchPage',action='next')"
						disabled="@load(vm.pageNo ge vm.maxPage)" />
					<button zclass="pageNum" label="&gt;&gt;"
						onClick="@command('switchPage',action='last')"
						disabled="@load(vm.pageNo ge vm.maxPage)" />
				</div>
			</hbox>
		</hbox>
		
		<!-- POP UP Konfirmasi Pengiriman Barang -->
		<window onClose="self.visible = false; event.stopPropagation();"
		 	closable="true" width="50%"
			visible="@bind(vm.konfirmasiMode)" mode="modal" contentStyle="overflow:auto"
			style="-webkit-box-shadow: 1px 1px 10px 3px #969696; box-shadow: 1px 1px 10px 3px #969696;"
			xmlns:w="client">
			<label value="View Konfirmasi Pengiriman Barang" style="font-size:24px;" />
			<grid>
				<columns>
					<column width="20%"/>
					<column width="1%"/>
					<column width="20%"/>
					<column width="8%"/>
					<column width="20%"/>
					<column width="1%"/>
					<column width="20%"/>
				</columns>
				<rows>
					<row>
						<label value="Nama Supir"/>
						<label value=":"/>
						<label value="@bind(vm.receiveDto.driverName)"/>
						<label value=""/>
						<label value="No. Telepon"/>
						<label value=":"/>
						<label value="@bind(vm.receiveDto.phone)"/>
					</row>
					<row>
						<label value="no. Polisi"/>
						<label value=":"/>							
						<label value="@bind(vm.receiveDto.vehicleNo)"/>
						<label value=""/>
						<label value="Jenis Kendaraan"/>
						<label value=":"/>
						<label value="@bind(vm.receiveDto.vehicleTypeText)"/>
					</row>
					<row>
						<label value="Terkirirm"/>
						<label value=":"/>
						<label value="@load(vm.receiveDto.qtyReceive)"/>
						<label value=""/>
						<label value="Catatan"/>
						<label value=":"/>
						<label value="@load(vm.receiveDto.notes)"/>
					</row>
					<row>
						<label value="Nama Penanda Tangan"/>
						<label value=":"/>
						<label value="@load(vm.receiveDto.nameOfRecipient)"/>
						<label value=""/>
						<label value=""/>
						<label value=""/>
						<label value=""/>
					</row>
				</rows>
			</grid>
			Tanda Tangan
			<hbox width="100%" pack="start">
				<image content="@load(vm.imgSignature)" 
					width="80px" height="100px" style="border: 1px solid;margin-right: 10px;"/>				
			</hbox>
			Lampiran
			<hbox children="@load(vm.listAttchment)">
				<template name="children">
					<image content="@load(each.attachment)" 
						width="80px" height="100px" style="border: 1px solid;margin-right: 10px;"/>
				</template>
			</hbox>	
			<separator/>
			<separator/>
			<hbox pack="center" width="100%">
				<button label="KEMBALI" onClick="@command('close')"/>
			</hbox>					
		</window>
		<!-- END POP UP Konfirmasi Pengiriman Barang -->

		<!-- POP UP View Riwayat Surat Jalan -->
		<window onClose="self.visible = false; event.stopPropagation();"
		 	closable="true" width="50%"
			visible="@bind(vm.viewMode)" mode="modal" contentStyle="overflow:auto"
			style="-webkit-box-shadow: 1px 1px 10px 3px #969696; box-shadow: 1px 1px 10px 3px #969696;"
			xmlns:w="client">
			<label value="View Riwayat Surat Jalan" style="font-size:24px;" />
			<grid>
				<columns>
					<column width="20%"/>
					<column width="1%"/>
					<column width="20%"/>
					<column width="8%"/>
					<column width="20%"/>
					<column width="1%"/>
					<column width="20%"/>
				</columns>
				<rows>
					<row>
						<label value="Status"/>
						<label value=":"/>
						<label value="@bind(vm.selectedDto.statusText)"/>
						<label value=""/>
						<label value="No. SPT"/>
						<label value=":"/>
						<label value="@bind(vm.selectedDto.sptNo)"/>
					</row>
					<row>
						<label value="No. Surat Jalan"/>
						<label value=":"/>							
						<label value="@bind(vm.selectedDto.sjNo)"/>
						<label value=""/>
						<label value="No. SPM"/>
						<label value=":"/>
						<label value="@bind(vm.selectedDto.spmNo)"/>
					</row>
				</rows>
			</grid>
			<separator bar="true"/>
			<label value="Detail Surat Jalan"/>
			<grid>
				<columns>
					<column width="20%"/>
					<column width="1%"/>
					<column width="20%"/>
					<column width="8%"/>
					<column width="20%"/>
					<column width="1%"/>
					<column width="20%"/>
				</columns>
				<rows>
					<row>
						<label value="Kode Customer"/>
						<label value=":"/>							
						<label value="@bind(vm.selectedDto.custCode)"/>
						<label value=""/>
						<label value="Segel 1"/>
						<label value=":"/>
						<label value="@bind(vm.selectedDto.segel1)"/>																
					</row>
					<row>
						<label value="Nama Customer"/>
						<label value=":"/>							
						<label value="@bind(vm.selectedDto.custName)"/>
						<label value=""/>
						<label value="Segel 2"/>
						<label value=":"/>
						<label value="@bind(vm.selectedDto.segel2)"/>																
					</row>
					<row>
						<label value="Nama Item"/>
						<label value=":"/>							
						<label value="@bind(vm.selectedDto.itemName)"/>
						<label value=""/>
						<label value="Segel 3"/>
						<label value=":"/>
						<label value="@bind(vm.selectedDto.segel3)"/>																
					</row>
					<row>
						<label value="Alamat Tujuan"/>
						<label value=":"/>							
						<label value="@bind(vm.selectedDto.custName)"/>
						<label value=""/>
						<cell colspan="3">
							<grid>
								<columns>
									<column width="49%"/>
									<column width="3%"/>
									<column width="48%"/>
								</columns>
								<rows>
									<row>
										<label value="Segel 4"/>
										<label value=":"/>
										<label value="@bind(vm.selectedDto.segel4)"/>																															
									</row>
									<row>
										<label value="Segel 5"/>
										<label value=":"/>
										<label value="@bind(vm.selectedDto.segel5)"/>																															
									</row>
									<row>
										<label value="Segel 6"/>
										<label value=":"/>
										<label value="@bind(vm.selectedDto.segel6)"/>																																
									</row>								
								</rows>
							</grid>						
						</cell>
					</row>										
					<row>
						<label value="Nama Transporter"/>
						<label value=":"/>							
						<label value="@bind(vm.selectedDto.transportirName)"/>
						<label value=""/>
						<label value="Segel 7"/>
						<label value=":"/>
						<label value="@bind(vm.selectedDto.segel7)"/>																
					</row>
					<row>
						<label value="Alamat Pengiriman"/>
						<label value=":"/>							
						<label value="@bind(vm.selectedDto.addressShipTo)"/>
						<label value=""/>
						<label value="Segel 8"/>
						<label value=":"/>
						<label value="@bind(vm.selectedDto.segel8)"/>																
					</row>
				</rows>
			</grid>		
			<separator bar="true"/>
			<label value="Detail Driver Dan Kendaraan"/>				
			<grid>
				<columns>
					<column width="20%"/>
					<column width="1%"/>
					<column width="20%"/>
					<column width="8%"/>
					<column width="20%"/>
					<column width="1%"/>
					<column width="20%"/>
				</columns>
				<rows>
					<row>
						<label value="ID Supir"/>
						<label value=":"/>							
						<label value="@bind(vm.selectedDto.driverId)"/>
						<label value=""/>
						<label value="Nopol Kendaraan"/>
						<label value=":"/>
						<label value="@bind(vm.selectedDto.vehicleNo)"/>																
					</row>				
					<row>
						<label value="Nama Supir"/>
						<label value=":"/>							
						<label value="@load(vm.selectedDto.driverName)"/>
						<label value=""/>
						<label value="Tipe Kendaraan"/>
						<label value=":"/>
						<label value="@bind(vm.selectedDto.vehicleType)"/>																
					</row>
					<row>
						<label value="No. Telepon"/>
						<label value=":"/>							
						<label value="@load(vm.selectedDto.phone)"/>
						<label value=""/>
						<label value="No. Container"/>
						<label value=":"/>
						<label value="@bind(vm.selectedDto.containerNo)"/>																
					</row>				
					<row>
						<label value=""/>
						<label value=""/>							
						<label value=""/>
						<label value=""/>
						<label value="Qty"/>
						<label value=":"/>
						<label value="@bind(vm.selectedDto.qty) @converter('formatedNumber', format='#,##0.00')"/>																
					</row>													
				</rows>
			</grid>
			<separator bar="true"/>
<<<<<<< HEAD
			<label value="Waktu Tempuh Supir"/>				

=======
			<label value="Waktu Tempuh Supir"/>	
			
						
>>>>>>> branch 'master' of https://gitlab.com/ari.haryanto/rmi-spt-sj.git
			<!-- DRIVER TRANSIT START -->
			<grid visible="@load(vm.selectedDto.isTransit eq true ? true : false)">
				<columns>
					<column width="20%"/>
					<column width="1%"/>
					<column width="20%"/>
					<column width="8%"/>
					<column width="20%"/>
					<column width="1%"/>
					<column width="20%"/>
				</columns>
				<rows>
					<row>
						<label value="Berangkat Dari Gudang"/>
						<label value=":"/>
						<label value="@load(vm.selectedDto.departingFromDate) @converter('formatedDate',format='dd-MMM-yyyy HH:mm:ss')"/>
						<label value=""/>
						<label value="Sampai Tujuan Transit"/>
						<label value=":"/>
						<label value="@load(vm.selectedDto.firstDestinationDate) @converter('formatedDate',format='dd-MMM-yyyy HH:mm:ss')"/>
					</row>
					<row>
						<label value="Latitude Longitude"/>
						<label value=":"/>
						<a label="@load(vm.selectedDto.departingFromLatitudeLongitude)" onClick="@command('cekLokasiBerangkat')"/>
						<label value=""/>
						<label value="Latitude Longitude"/>
						<label value=":"/>
						<a label="@load(vm.selectedDto.firstDestinationLatitudeLongitude)" onClick="@command('cekLokasiSampaiTransit')"/>
					</row>
				</rows>
			</grid>
			<separator bar="true" visible="@load(vm.selectedDto.isTransit eq true ? true : false)"/>
			<grid visible="@load(vm.selectedDto.isTransit eq true ? true : false)">
				<columns>
					<column width="20%"/>
					<column width="1%"/>
					<column width="20%"/>
					<column width="8%"/>
					<column width="20%"/>
					<column width="1%"/>
					<column width="20%"/>
				</columns>
				<rows>
					<row>
						<label value="Transit"/>
						<label value=":"/>
						<label value="@load(vm.selectedDto.transitDate) @converter('formatedDate',format='dd-MMM-yyyy HH:mm:ss')"/>
						<label value=""/>
						<label value="Sampai Tujuan"/>
						<label value=":"/>
						<label value="@load(vm.selectedDto.destinationDate) @converter('formatedDate',format='dd-MMM-yyyy HH:mm:ss')"/>
					</row>
					<row>
						<label value="Latitue Longitude"/>
						<label value=":"/>
						<a label="@load(vm.selectedDto.transitLatitudeLongitude)" onClick="@command('cekLokasiTransit')"/>
						<label value=""/>
						<label value="Latitude Longitude"/>
						<label value=":"/>
						<a label="@load(vm.selectedDto.destinationLatitudeLongitude)" onClick="@command('cekLokasiSampai')"/>
					</row>					
				</rows>
			</grid>
			<!-- DRIVER TRANSIT END -->

			<!-- DRIVER NON TRANSIT START -->
			<grid visible="@load(vm.selectedDto.isTransit eq true ? false : true)">
				<columns>
					<column width="20%"/>
					<column width="1%"/>
					<column width="20%"/>
					<column width="8%"/>
					<column width="20%"/>
					<column width="1%"/>
					<column width="20%"/>
				</columns>
				<rows>
					<row>
						<label value="Berangkat Dari Gudang"/>
						<label value=":"/>
						<label value="@load(vm.selectedDto.departingFromDate) @converter('formatedDate',format='dd-MMM-yyyy HH:mm:ss')"/>
						<label value=""/>
						<label value="Sampai Tujuan"/>
						<label value=":"/>
						<label value="@load(vm.selectedDto.destinationDate) @converter('formatedDate',format='dd-MMM-yyyy HH:mm:ss')"/>
					</row>
					<row>
<<<<<<< HEAD
						<label value="Latitue Longitute"/>
						<label value=":"/>
						<a label="@load(vm.selectedDto.departingFromLatitudeLongitude)" onClick="@command('cekLokasiBerangkat')"/>
						<label value=""/>
						<label value="Latitude Longitude"/>
						<label value=":"/>
						<a label="@load(vm.selectedDto.destinationLatitudeLongitude)" onClick="@command('cekLokasiSampai')"/>
					</row>
				</rows>
			</grid>
			<!-- DRIVER NON TRANSIT END -->
							
=======
						<label value="Latitude Longitude"/>
						<label value=":"/>
						<a label="@load(vm.selectedDto.departingFromLatitudeLongitude)" onClick="@command('cekLokasiBerangkat')"/>
						<label value=""/>
						<label value="Latitude Longitude"/>
						<label value=":"/>
						<a label="@load(vm.selectedDto.destinationLatitudeLongitude)" onClick="@command('cekLokasiSampai')"/>
					</row>
				</rows>
			</grid>
			<!-- DRIVER NON TRANSIT END -->		
>>>>>>> branch 'master' of https://gitlab.com/ari.haryanto/rmi-spt-sj.git
			<hbox pack="center" width="100%">
				<button label="KEMBALI" onClick="@command('close')"/>
			</hbox>					
		</window>
		<!-- END POP UP View Riwayat Surat Jalan -->

		
	</window>
</zk>
