@font-face {
	font-family: "Myriad";
	src: url("../res/font/MyriadPro-Regular.eot");
	src: url("../res/font/MyriadPro-Regular.otf") format("opentype");
}

body *:not([class*="z-icon-"]) {
    font-family: "Myriad";
}

body {
	margin: 0 !important;
	padding: 0 !important;
}

div.login-container  {
	background-image: url("../res/login-bg.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-color: #d2d2d2;
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

div.login-container>div {
	background: inherit;
}

div.login-content-wrapper {
/* 	background-color: inherit; */
	margin: 0 auto;
	height: 600px;
	border: none;
}

div.login-frosted {
	display: inline-block;
	width: 50% !important;
	height: 100% !important;
	background: inherit;
	filter: blur(10px);
	border: none;
	z-index: 7;
}

div.logo-section {
	margin-bottom: 20px;
	
}

div.flex-column div.login-form .z-label:nth-child(1) {
	color: black;
	font-size: 28px;
	font-weight: 600;
	text-align: center;
	display: inherit;
	margin-bottom:15px;
}

div.login-content-wrapper>div.z-center-body {
	display: flex;
	justify-content: center;
	width: auto !important;
}

div.flex-column {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	margin-bottom:50px;
	width: 500px;
	
}

div.login-form {
	background-color: white;
    border-radius: 5px;
    width: 500px;
    margin-top: 20px;
    padding: 30px 0;
    height: 400px;
}

div.login-form-wrapper {
	width: auto;
	padding-left: 15%;
	padding-right: 15%;
}

div.form-item {
	margin-bottom: 20px;
}

div.form-item img {
	margin-right: 5px;
}

div.form-item a {
	text-decoration: none;
}

div.form-item>div {
	display: flex;
	align-items: flex-end;
	margin-bottom: 5px;
}

div.form-item>div span.z-label {
	font-weight: 600;
	font-size: 14px;
}

div.form-item input[type=text],div.form-item input[type=password] {
	width: 100%;
	background-color: #ecf0f1 !important;
	border: none;
	padding: 8px;
	border-radius: 5px;
	height: 50px;
	font-size: 16px;
}

div.btn-login-wrapper {
	text-align: center;
	margin-top: 35px;
}

div.btn-login-wrapper .z-button {
/* 	background: #252525; */
	background: #0D6F3C;
	color: #FFFFFF;
	padding: 10px 60px;
	border-radius: 3px;
	border: solid 1px #252525;
	font-weight: 600;
	font-size: 24px;
	width: -webkit-fill-available;
	height: 50px;
	text-shadow: none;
}

div.btn-login-wrapper .z-button:hover {
	background: #09522c;
	color: #FFFFFF;
	border: solid 1px #252525;
	padding: 10px 60px;
	border-radius: 3px;
	font-weight: 600;
	font-size: 24px;
	font-style: normal;
	min-height: 24px;
	line-height: 14px;
}

span.z-checkbox input[type=checkbox] {
	position: absolute;
	opacity: 0;
}

span.z-checkbox input[type=checkbox]+label {
	position: relative;
	cursor: pointer;
	padding: 0;
}

span.z-checkbox input[type=checkbox]+label:before {
	content: '';
	margin-right: 5px;
	display: inline-block;
	vertical-align: text-top;
	width: 15px;
	height: 15px;
	background: #0D6F3C;
}

span.z-checkbox input[type=checkbox]:checked+label:after {
	content: '';
	position: absolute;
	left: 2px;
	top: 6px;
	background: white;
	width: 2px;
	height: 2px;
	box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0
		white, 4px -6px 0 white, 4px -8px 0 white;
	transform: rotate(45deg);
}

@media only screen and (max-width: 835px) {
	div.login-content-wrapper {
		width: 100% !important;
	}
	div.login-frosted {
		width: 100% !important;
	}
}

@media only screen and (max-width: 410px) {
	div.login-form {
		width: 350px;
	}
}

a.right-hyperlink {
	color: #f39c12;
	text-align: right;
	font-style: italic;
	display: inherit;
	font-size: 20px;
	margin-top: 30px;
}


div.flex-column .z-label{
	font-size: 14px;
}

div.login-form div.login-content-wrapper .z-label{
	font-size: 14px;
	
}
.z-textbox {
	text-align: center;
	font-style: italic;
}

.z-messagebox .z-label{
	font-family: "Myriad";
}

.z-label, .z-radio-content, .z-checkbox-content, .z-loading {
    font-family: Arial,Sans-serif;
    font-size: 14px;
    font-weight: normal;
}
div.forgetpassword{
	background-color: white;
    border-radius: 5px;
    width: 500px;
    margin-top: 20px;
    padding: 60px 60px 40px 60px;
    height: 400px;
    font-size: 20px;
}

div.forgetpassword .form-item:nth-child(1) .z-label{
	font-size: 20px;
	font-weight: bold;
}
/* div.forgetpassword .form-item:nth-child(2) .z-label{
	font-weight: bold;
} */
div.forgetpassword .form-item{
	width: auto;
	margin-bottom: 30px;
}
div.forgetpassword div.login-form-wrapper{
	width: auto;
	padding:0;
}

div.forgetpassword div.btn-login-wrapper{
	text-align: center;
    margin-top: 35px;
    padding: 0 20%;
}
div.forgetpassword div.flex-column{
	display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 500px;
} 

div.forgetpassword div.form-item input[type=text]{
	width: 100%;
    background-color: #ffffff !important;
    border: 3px solid #cfcfcf;
    padding: 8px;
    border-radius: 9px;
    height: 50px;
    font-size: 16px;
}

div.forgetpassword div.login-form-wrapper div.form-item .z-label{
	color: #ec2226;
}
div.forgetpassword div.login-form-wrapper div.form-item:nth-child(1){
	margin-bottom:10px;
}
div.otp-form div.form-item input[type=text], div.otp-form div.form-item .z-textbox:FOCUS{
  	/* padding-left: 15px; */
  	letter-spacing: 15px;
  	border: none;
  	background-color: #ffffff !important;
  	/* background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
  	background-position: bottom;
  	background-size: 25px 3px;
  	background-repeat: repeat-x;
  	background-position-x: 22px; */
  	width: 100%;
  	font-size: 28px;
  	text-align: center;
  	font-style: normal;
  	box-shadow: none;
}

div.otp-form{
	background-color: white;
    border-radius: 5px;
    width: 500px;
    margin-top: 20px;
    padding: 60px 60px 40px 60px;
    height: 400px;
    font-size: 20px;
    text-align: center;
}

div.otp-form .form-item:nth-child(1) .z-label{
	font-size: 18px;
	font-weight: bold;
}

div.otp-form div.login-form-wrapper div.form-item a.right-hyperlink{
	text-align: center;
}

@MEDIA screen and (max-width:320px) {
	.login-container{
	display: inline;
	}
}

.new-password{
	background-color: white;
    border-radius: 5px;
    width: 500px;
    margin-top: 20px;
    padding: 60px 60px 40px 60px;
    height: auto;
    font-size: 20px;
}
.new-password div.login-form-wrapper div.form-item{
	margin-bottom: 5px;
}
.new-password div.login-form-wrapper div.form-item input[type=password]{
	width: 100%;
    background-color: #ffffff !important;
    border: 3px solid #cfcfcf;
    padding: 8px;
    border-radius: 5px;
    height: 30px;
    font-size: 16px;
    text-align: left;
}
.new-password div.login-form-wrapper div.form-item input[type=text]{
	width: 100%;
    background-color: #ffffff !important;
    border: 3px solid #cfcfcf;
    padding: 8px;
    border-radius: 5px;
    height: 30px;
    font-size: 16px;
    text-align: left;
}
.new-password div.login-form-wrapper div.form-item:nth-child(2), .new-password div.login-form-wrapper div.form-item:nth-child(3), .new-password div.login-form-wrapper div.form-item:nth-child(5){
	margin-bottom: 20px;
}

.new-password div.login-form-wrapper div.form-item:nth-child(3) .z-label, .new-password div.login-form-wrapper div.form-item:nth-child(6) .z-label{
	color: #ec2226;
}

.new-password div.btn-login-wrapper{
	text-align: center;
    margin-top: 25px;
}