<?page title="User" contentType="text/html;charset=UTF-8"?>
<zk xmlns:w="client">
	<style>
		.button { background-color:rgb(255,201,14) ;
		background:rgb(255,201,14) ; height: 35px; width: 80px;
		font-size: 12pt; color:white; text-align: center;
		font-family:Calibri Light ; }

		.button:hover { background-color:rgb(255,201,14) ;
		background:rgb(255,201,14) ; opacity:0.4 }
	</style>
	<window title="" border="normal" sclass="content-window"
		apply="org.zkoss.bind.BindComposer"
		viewModel="@id('vm') @init('id.co.indocyber.bmmRmiCms.controller.TransporterVmd')"
		contentStyle="overflow:auto;">
		<label value="Transporter" style="font-size:24px;"/>
		<separator bar="true"/>		
		<hbox width="100%">
			<hbox>
				<textbox id="src" onOK="@command('src')"
					value="@bind(vm.searchData)" placeholder="Cari" width="100%" />
				<button label="Search" onClick="@command('src')" />
				<button label="RELOAD" onClick="@command('reload')"
					w:onClick="jq('$listUser').hide().slideDown(1000)" />
			</hbox>
			<hbox hflex="1" pack="end">
			</hbox>
		</hbox>
		<separator height="10px"/>
		<listbox id="listUser" 
			emptyMessage="Tidak ada data yang memenuhi kriteria pencarian Anda."  model="@load(vm.listTransporter)" mold="paging"
			pagingPosition="bottom" pageSize="25" >
			<listhead>			
				<listheader label="Code" width="5%" sort="auto(code)" onSort="@command('sort',col='code')"/>
				<listheader label="Nama Transporter" width="25%" sort="auto(transportirName)" onSort="@command('sort',col='transportir_name')"/>
				<listheader label="Jenis Transporter" width="25%" sort="auto(transportirType)" onSort="@command('sort',col='transportir_type')"/>
				<listheader label="Ref. Code" width="10%" sort="auto(referenceCode)" onSort="@command('sort',col='reference_code')"/>
				<listheader label="Status" width="20%" sort="auto(isActive)" onSort="@command('sort',col='is_active')"/>
				<listheader label="Action" width="10%" />
			</listhead>
			<template name="model">
				<listitem>
					<listcell label="@load(each.code)" />
					<listcell label="@load(each.transportirName)" />
					<listcell label="@load(each.transportirType)"/>
					<listcell label="@load(each.referenceCode)"/>
					<listcell>
						<button
							visible="@load(each.isActive ? 'true' : 'false') "
							onClick="@command('ubahStatusAktif', dto = each)"
							label="Aktif" sclass="darkblue-btn" style="background: #d6f3c;" />
						<button
							onClick="@command('ubahStatusNonAktif', dto = each)"
							visible="@load(each.isActive ? 'false' : 'true')"
							label="Non Aktif" sclass="orange-btn" style="background: #fab047;" />
					</listcell>
					<listcell>
						<!-- <a onClick="@command('view', dto=each)" visible="@load(!vm.btnEdit)" tooltiptext="Edit user ${each.transportirName}.">
							<image src="res/icon_view.png"
								style="width:15px;" />
						</a> -->
						<image src="res/icon_view.png" style="width:15px;" onClick="@command('view', dto=each)" visible="@load(!vm.btnEdit)"/>
						<!-- <button image="res/icon_view.png" onClick="@command('view', dto=each)" visible="@load(!vm.btnEdit)"/> -->
					</listcell>
				</listitem>
			</template>
		</listbox>
		<separator height="10px"/>
			<hbox width="100%">
				<hbox>
					<label value="Page " />
					<label value="@load(vm.pageNo)" />
					<label value=" of " />
					<label value="@load(vm.maxPage)" />
					<label value=" total " />
					<label value="@load(vm.recordCount) " />
					<label value=" Data" />
				</hbox>
				<hbox hflex="1" pack="end">
					<div sclass="pageControl">
						<button zclass="pageNum" label="&lt;&lt;"
							onClick="@command('switchPage',action='first')"
							disabled="@load(vm.pageNo eq 1)" />
						<button zclass="pageNum" label="&lt;"
							onClick="@command('switchPage',action='prev')"
							disabled="@load(vm.pageNo eq 1)" />
						<button zclass="pageNum"
							label="@load(vm.pageNo-2 le 0 ? '' : vm.pageNo-2)"
							onClick="@command('switchPage',action=self.label)"
							disabled="@load(vm.pageNo-2 le 0)" />
						<button zclass="pageNum"
							label="@load(vm.pageNo-1 le 0 ? '' : vm.pageNo-1)"
							onClick="@command('switchPage',action=self.label)"
							disabled="@load(vm.pageNo-1 le 0)" />
						<button zclass="pageNum"
							label="@load(vm.pageNo)"
							onClick="@command('switchPage',action=self.label)"
							disabled="true" style="background: #2D623D; color:#FFFFFF;" />
						<button zclass="pageNum"
							label="@load(vm.pageNo+1 gt vm.maxPage ? '' :vm.pageNo+1)"
							onClick="@command('switchPage',action=self.label)"
							disabled="@load(vm.pageNo+1 gt vm.maxPage)" />
						<button zclass="pageNum"
							label="@load(vm.pageNo+2 gt vm.maxPage ? '' :vm.pageNo+2)"
							onClick="@command('switchPage',action=self.label)"
							disabled="@load(vm.pageNo+2 gt vm.maxPage)" />
						<button zclass="pageNum" label="&gt;"
							onClick="@command('switchPage',action='next')"
							disabled="@load(vm.pageNo ge vm.maxPage)" />
						<button zclass="pageNum" label="&gt;&gt;"
							onClick="@command('switchPage',action='last')"
							disabled="@load(vm.pageNo ge vm.maxPage)" />
					</div>
				</hbox>
			</hbox>
		<window onClose="self.visible = false; event.stopPropagation();"
		 	closable="true" width="50%"
			visible="@bind(vm.viewMode)" mode="modal" contentStyle="overflow:auto"
			style="-webkit-box-shadow: 1px 1px 10px 3px #969696; box-shadow: 1px 1px 10px 3px #969696;"
			xmlns:w="client">
			<hlayout>
				<label value="View Transporter" style="font-size:24px;" />
			</hlayout>
			<separator bar="true"/>
			<grid>
				<columns>
					<column width="20%" />
					<column width="2%" />
					<column width="33%"/>
					<column width="3%"/>
					<column width="20%"/>
					<column width="2"/>
					<column width="20%"/>
				</columns>
				<rows>
					<row>
						<label value="Nama Transporter" hflex="1"/>
						<label value=":"/>
						<label value="@load(vm.mobTransportirDto.transportirName)" hflex="1"/>
						<label value=""/>
						<label value="Tipe Transporter" hflex="1"/>
						<label value=":"/>
						<label value="@load(vm.mobTransportirDto.transportirType)" hflex="1"/>
					</row>
					<row>
						<label value="Nama Vendor" hflex="1"/>
						<label value=":"/>
						<label value="@load(vm.mobTransportirDto.vendorName)" hflex="1"/>
						<label value=""/>
						<label value="Tipe Kendaraan" hflex="1"/>
						<label value=":"/>
						<label value="@load(vm.mobTransportirDto.vehicleTypeText)" hflex="1"/>
					</row>
					<row>
						<label value="Area" hflex="1"/>
						<label value=":"/>
						<label value="@load(vm.mobTransportirDto.areaCode)" hflex="1"/>
						<label value=""/>
						<label value="Harga" hflex="1"/>
						<label value=":"/>
						<label value="@load(vm.mobTransportirDto.price)" hflex="1"/>
					</row>
				</rows>
			</grid>
			<separator height="20px"/>
			<hbox pack="center" width="100%">
				<button label="KEMBALI" onClick="@command('back')" />
			</hbox>
			
		</window>
		
		<!-- START msgBOX SUCCESS -->
			<include src="/layout/msgFree.zul" />
		<!-- END msgBOX SUCCSESS --> 
		
		<!-- START msgBOX SUCCESS -->
			<include src="/layout/confirm.zul" />
		<!-- END msgBOX SUCCSESS --> 
		
	</window>
</zk>