<?page title="User" contentType="text/html;charset=UTF-8"?>
<zk xmlns:w="client">
	<style>
		.button { background-color:rgb(255,201,14) ;
		background:rgb(255,201,14) ; height: 35px; width: 80px;
		font-size: 12pt; color:white; text-align: center;
		font-family:Calibri Light ; }

		.button:hover { background-color:rgb(255,201,14) ;
		background:rgb(255,201,14) ; opacity:0.4 }
	</style>
	<window title="" border="normal" sclass="content-window"
		apply="org.zkoss.bind.BindComposer"
		viewModel="@id('vm') @init('id.co.indocyber.bmmRmiCms.controller.UMRoleVmd')"
		contentStyle="overflow:auto;">
		<label value="Role" style="font-size:24px;"/>
		<separator bar="true"/>
		<hbox width="100%">
			<hbox>
				<textbox id="src" onOK="@command('src')" value="@bind(vm.searchData)"
					placeholder="Cari" width="100%"/>
				<button label="Search" onClick="@command('src')"/>
				<button label="RELOAD" onClick="@command('reload')"
					w:onClick="jq('$listUser').hide().slideDown(1000)" />
			</hbox>
			<hbox pack="end" hflex="1">
				<button label="BARU" onClick="@command('add')"
					disabled="@load(vm.btnAdd)" iconSclass="z-icon-plus"/>
			</hbox>
		</hbox>
		<separator height="10px"/>
		<listbox id="listUser" 
			emptyMessage="Tidak ada data yang memenuhi kriteria pencarian Anda."  model="@load(vm.listRoleDto)" mold="paging"
			pagingPosition="bottom" pageSize="25" >
			<listhead>			
				<listheader label="Nama Role" width="30%" sort="auto(roleName)"/>
				<listheader label="Deskripsi" width="30%" sort="auto(description)"/>
				<listheader label="Status" width="25%" sort="auto(isActive)"/>
				<listheader label="Action" width="15%" />
			</listhead>
			<template name="model">
				<listitem>
					<listcell label="@load(each.roleName)" />
					<listcell label="@load(each.description)" />
					<listcell>
						<button
							visible="@load(each.isActive ? 'true' : 'false') "
							onClick="@command('ubahStatusAktif', dto = each)"
							label="Aktif" sclass="darkblue-btn" style="background: #d6f3c;" />
						<button
							onClick="@command('ubahStatusNonAktif', dto = each)"
							visible="@load(each.isActive ? 'false' : 'true')"
							label="Non Aktif" sclass="orange-btn" style="background: #fab047;" />
					</listcell>
					<listcell>
						<a onClick="@command('edit', dto=each)" visible="@load(!vm.btnEdit)" tooltiptext="Edit user ${each.roleName}.">
							<image src="res/icon_edit.png"
								style="width:15px;" />
						</a>
					</listcell>
				</listitem>
			</template>
		</listbox>
		<separator height="10px"/>
		<hbox width="100%">
			<hbox>
				<label value="Page " />
				<label value="@load(vm.pageNo)" />
				<label value=" of " />
				<label value="@load(vm.maxPage)" />
				<label value=" total " />
				<label value="@load(vm.recordCount) " />
				<label value=" Data" />							
			</hbox>
			<hbox pack="end" hflex="1">
				<div sclass="pageControl">
					<button zclass="pageNum" label="&lt;&lt;"
						onClick="@command('switchPage',action='first')"
						disabled="@load(vm.pageNo eq 1)" />
					<button zclass="pageNum" label="&lt;"
						onClick="@command('switchPage',action='prev')"
						disabled="@load(vm.pageNo eq 1)" />
					<button zclass="pageNum"
						label="@load(vm.pageNo-2 le 0 ? '' : vm.pageNo-2)"
						onClick="@command('switchPage',action=self.label)"
						disabled="@load(vm.pageNo-2 le 0)" />
					<button zclass="pageNum"
						label="@load(vm.pageNo-1 le 0 ? '' : vm.pageNo-1)"
						onClick="@command('switchPage',action=self.label)"
						disabled="@load(vm.pageNo-1 le 0)" />
					<button zclass="pageNum" label="@load(vm.pageNo)"
						onClick="@command('switchPage',action=self.label)" disabled="true"
						style="background: #2D623D; color:#FFFFFF;" />
					<button zclass="pageNum"
						label="@load(vm.pageNo+1 gt vm.maxPage ? '' :vm.pageNo+1)"
						onClick="@command('switchPage',action=self.label)"
						disabled="@load(vm.pageNo+1 gt vm.maxPage)" />
					<button zclass="pageNum"
						label="@load(vm.pageNo+2 gt vm.maxPage ? '' :vm.pageNo+2)"
						onClick="@command('switchPage',action=self.label)"
						disabled="@load(vm.pageNo+2 gt vm.maxPage)" />
					<button zclass="pageNum" label="&gt;"
						onClick="@command('switchPage',action='next')"
						disabled="@load(vm.pageNo ge vm.maxPage)" />
					<button zclass="pageNum" label="&gt;&gt;"
						onClick="@command('switchPage',action='last')"
						disabled="@load(vm.pageNo ge vm.maxPage)" />
				</div>
			</hbox>
		</hbox>
		<window width="30%"
			visible="@bind(vm.editMode)" mode="modal" contentStyle="overflow:auto"
			style="-webkit-box-shadow: 1px 1px 10px 3px #969696; box-shadow: 1px 1px 10px 3px #969696;"
			xmlns:w="client">
			<hbox width="100%">
				<hbox>
					<label value="@load(vm.editRoleDto.createdDate eq null ? 'Tambah':'Edit')" style="font-size:24px;"/>
					<label value=" Role" style="font-size:24px;" />
				</hbox>
				<hbox pack="end" hflex="1">
					<a onClick="@command('close')">
						<image src="res/icon_close.png"
							style="width:30px;" />
					</a>
				</hbox>
			</hbox>
			<separator bar="true"/>
			<grid>
				<columns>
					<column width="20%"/>
					<column />
				</columns>
				<rows>
					<row>
						<label value="Nama Role" hflex="1" />
						<textbox
							value="@load(vm.editRoleDto.roleName) @save(vm.editRoleDto.roleName,before='save')"
							maxlength="20" constraint="no empty : Nama role harus diisi!" width="100%"
							disabled="@load(vm.editRoleDto.roleName eq null ? 'false' : 'true') "/>
					</row>
					<row>
						<label value="Deskripsi" hflex="1" />
						<textbox width="100%"
							value="@load(vm.editRoleDto.description) @save(vm.editRoleDto.description,before='save')"
							constraint="no empty : Deskripsi harus diisi!" rows="5" multiline="true"/>
					</row>
				</rows>
			</grid>
			<separator bar="true"/>
			<hbox>
				<button label="SIMPAN" onClick="@command('save',btn=self)" />
				<button label="BATAL" onClick="@command('close')" />
			</hbox>	
		</window>
		
		<!-- START msgBOX SUCCESS -->
			<include src="/layout/msgFree.zul" />
		<!-- END msgBOX SUCCSESS --> 
		
		<!-- START msgBOX SUCCESS -->
			<include src="/layout/confirm.zul" />
		<!-- END msgBOX SUCCSESS --> 
		
	</window>
</zk>